/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
*{
margin: 0;
padding: 0;
}
html,body{
height: 100%;
min-width: 1000px;
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
}
@-ms-viewport {
width: device-width; }
#top{
background-color:#FFE4E1;
clear: both;
}
#footer{
width: 100%;
height:40px;   /* footer的高度一定要是固定值*/
position: fixed;
bottom:0px;
left: 0px;
background-color:#FFE4E1;
color: #888888;
padding-top: 5px;
text-align: center;
font-family: "Papyrus", fantasy, sans-serif;
font-weight: bold;
}
#container{
/*保证footer是相对于container位置绝对定位*/
position:relative;
width:100%;
min-height:100%;
/*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/
padding-bottom: 100px;
box-sizing: border-box;
}
#nav{
color: #888888;
font-family: "Papyrus", fantasy, sans-serif;
text-align: center;
font-size: 80px;
margin-right: auto;
margin-left: auto;
}
.experience:hover{
color: black;
border-bottom: 2px solid #fff;
}.hobbies:hover{
color: black;
border-bottom: 2px solid #fff;
}.achievement:hover{
color: black;
border-bottom: 2px solid #fff;
}.photo:hover{
color: black;
border-bottom: 2px solid #fff;
}
.experience{
color: #888888;
font-family: "Papyrus", fantasy, sans-serif;
font-size: 20px;
text-decoration: none;
font-weight: bold;
}
.hobbies{
color: #888888;
font-family: "Papyrus", fantasy, sans-serif;
font-size: 20px;
text-decoration: none;
font-weight: bold;
}
.achievement{
color: #888888;
font-family: "Papyrus", fantasy, sans-serif;
font-size: 20px;
text-decoration: none;
font-weight: bold;
}
.photo{
color: #888888;
font-family: "Papyrus", fantasy, sans-serif;
font-size: 20px;
text-decoration: none;
font-weight: bold;
}
/*aside*/
aside{
width: 300px;
height: 450%;
background-color: cornsilk;
padding:30px 10px;
float: left;
}
.myself:hover{
transform:scale(1.2,1.2);
}
.myself{
margin:0px auto;
width:200px;height:200px;border-radius:50px;
padding-left: 20px;
padding-bottom: 20px;
}
a{
	color: black;
	text-decoration: none;
}
/*bodyarea*/
#Introduction{
text-align: center;
padding-top: 15%;
}
.introduction{
font-family: "Comic Sans MS", cursive, sans-serif;
}
#Experience{
padding-top: 10%;
padding-left: 40%;
font-family: "Comic Sans MS", cursive, sans-serif;
}
#Hobbies{
padding-top: 10%;
padding-left: 40%;
font-family: "Comic Sans MS", cursive, sans-serif;
}
#Achievement{
padding-top: 10%;
padding-left: 40%;
font-family: "Comic Sans MS", cursive, sans-serif;
}
.text-center{
text-align: center;
}
.hello{
font-size: 30px;
font-family: "Papyrus", fantasy, sans-serif;
}
#title{
font-family: "Papyrus", fantasy, sans-serif;
font-weight: bold;
}
#list{
list-style-type: none;
padding-top: 5px;
font-family: "Comic Sans MS", cursive, sans-serif;
}
.shake {
padding-top: 5px;
padding-left: 20px;
transition: all .2s ease-in-out;
}
.contact{
padding-left: 10px;
}
.shake:hover{
transform: translateX(-6px) rotateY(-9deg);
}
/*Button*/
#myBtn {
display: none;
position: fixed;
bottom: 50px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color:	bisque;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 10px;
font-family: "Comic Sans MS", cursive, sans-serif;
}
#myBtn:hover {
background-color:antiquewhite;
}
#logo:hover{
transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
/*photo*/
.Photo{
padding-top: 10%;
padding-left: 40%;
}
.col {
text-align: center;
padding-top: 20px;
}
#yufuin{
padding-right: 15px;
}
#pond{
padding-left: 15px;
}
#nagasaki{
padding-right: 15px;
}
#sea{
padding-left: 15px;
}
#zawa{
padding-right: 15px;
}
#ken{
padding-left: 15px;
}
#snow{
padding-right: 15px;
}
#house{
padding-left: 15px;
}
img:hover {
/* Start the shake animation and make the animation last for 0.5 seconds */
animation: shake 0.5s;
/* When the animation is finished, start again */
animation-iteration-count: infinite;
}
@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
